@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>NEWSIndy was inspired by many people and things but the idea to do this site came up with my friend Anne Clark who has been working on a mutual aid community for Holy Cross. They asked for help with a website for it and then decided to go with a site for Indianapolis as a whole. </p>
