@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>NEWSIndy was inspired by many people and things but the idea to do this site came up with my friend Anne Clark who has been working on a mutual aid community for Holy Cross. They asked for help with a website for it and then that's when I decided to go with a site for Indianapolis as a whole. In version 2.0 look foward to being able to go directly to organizations web pages, there'll be a map that'll show resources for mutual aid such as community food boxes, shelters, halfway homes. There will be a locak market place for folks in Indy to showcase their art and music and other locals can come support or buy. As well as there'll be a community wall for users to come post messages about anything they might need. </p>
