@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Julian Arboleda<br />
    Indianapolis, IN 46201<br />
    <abbr title="Phone">P:</abbr>
    317.693.0985
</address>

<address>
    <strong>Email Me:</strong> <a href="mailto:arboledajulian@outlook.com">arboledajulian@outlook.com</a>
</address>