@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NEWSIndy</h1>
    <p class="lead"> NEWSIndy is a Mutual aid application where residents of Indianapolis can help each other out as well as support each others art, music, and event</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Getting started</h2>
        <p>
            NEWSIndy is a mutual aid app for Indianapolis  
        </p>

    </div>
   </div>