@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>NEWSIndy</h2>
    <br />
    <p class="lead">
        NEWSIndy is a Mutual aid site where residents of Indianapolis can help each other out. So far locals can add boroughs/neighborhoods to the site, although I'll try and do most myself. Users can also add organizations to the borough of their choosing and if the one they're looking for isn't avaliable they can add the borough themselves!
    </p> <p class="lead">
             This will help folks in Indy see the organizations in their area and then you can choose which organization you'd like to volunteer at. Coming soon users will be able to add resources and there will be a map of Indianapolis where you can split it up between boroughs or direction ( N, E, W, S ,etc), Feel free to reach out via the contact tab in the navigation bar up top if you have any questions or inputs. 
    </p>
</div>


<div class="row">
    <div class="col-md-10">
        <h3>Getting Started</h3>
        <br />
        <p>
            You can go ahead and browse through to see the boroughs, organizations, and volunteers currently avaliable or if you'd like to add to any of those sections yourself you can go ahead and log in.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44366/Account/Login">Log In &raquo;</a></p>
    </div>
</div>