body {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fffffe;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border-top: 1px transparent;
}

.nav.navbar-nav li a {
    color: #fff;
}

    .nav.navbar-nav li a:hover {
        color: greenyellow;
    }

.lead {
    font-size-adjust: .4;
    padding-left: 15px;
    padding-right: 15px;
    line-height: inherit
}

.btn-default {
    background-color: palegoldenrod;
    border-color: #004d3424;
}

.row {
    font-size-adjust: .6;
    padding-left: 15px;
    padding-right: 15px;
}

.container.jumbotron {
    padding-right: 40px;
    padding-left: 30px;
}
